// ==========================================================================
// Variables
// ==========================================================================


$icn-check: "\E001";
$icn-chevron-down: "\E002";
$icn-chevron-right: "\E003";
$icn-circle-add: "\E004";
$icn-circle-check: "\E005";
$icn-circle-cross: "\E006";
$icn-circle-question: "\E007";
$icn-cross: "\E008";
$icn-home: "\E009";
$icn-layout: "\E00A";
$icn-list: "\E00B";
$icn-menu: "\E00C";
$icn-pencil: "\E00D";
$icn-plus: "\E00E";
$icn-search: "\E00F";
$icn-shopping-cart: "\E010";
$icn-sidebar-toggle: "\E011";
$icn-user: "\E012";
$icn-wrench: "\E013";





// ==========================================================================
// Map
// ==========================================================================

$icons: (
  check: "\E001",
  chevron-down: "\E002",
  chevron-right: "\E003",
  circle-add: "\E004",
  circle-check: "\E005",
  circle-cross: "\E006",
  circle-question: "\E007",
  cross: "\E008",
  home: "\E009",
  layout: "\E00A",
  list: "\E00B",
  menu: "\E00C",
  pencil: "\E00D",
  plus: "\E00E",
  search: "\E00F",
  shopping-cart: "\E010",
  sidebar-toggle: "\E011",
  user: "\E012",
  wrench: "\E013",
);




// ==========================================================================
// Extends
// ==========================================================================

%icn-base {
  @extend %iconfont;
  font-size: if(variable-exists(icn-font-size), $icn-font-size, 1em);
  line-height: if(variable-exists(icn-line-height), $icn-line-height, 1);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  display: inline-block;
  text-rendering: auto;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function icn-char($filename) {
  @return map-get($icons, $filename);
}

.icn{
  display: inline-block;
  &:before {
    @extend %icn-base;
  }
}

.icn--fw {
  width: if(variable-exists(icn-fixed-width-size), $icn-fixed-width-size, 1em);
  text-align: center;
}


@mixin icn($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    content: icn-char($filename);
  }
}

.icn--check {
  @include icn(check);
}
.icn--chevron-down {
  @include icn(chevron-down);
}
.icn--chevron-right {
  @include icn(chevron-right);
}
.icn--circle-add {
  @include icn(circle-add);
}
.icn--circle-check {
  @include icn(circle-check);
}
.icn--circle-cross {
  @include icn(circle-cross);
}
.icn--circle-question {
  @include icn(circle-question);
}
.icn--cross {
  @include icn(cross);
}
.icn--home {
  @include icn(home);
}
.icn--layout {
  @include icn(layout);
}
.icn--list {
  @include icn(list);
}
.icn--menu {
  @include icn(menu);
}
.icn--pencil {
  @include icn(pencil);
}
.icn--plus {
  @include icn(plus);
}
.icn--search {
  @include icn(search);
}
.icn--shopping-cart {
  @include icn(shopping-cart);
}
.icn--sidebar-toggle {
  @include icn(sidebar-toggle);
}
.icn--user {
  @include icn(user);
}
.icn--wrench {
  @include icn(wrench);
}
