include views/mixins/mixins

block vars
  - var lang            = 'zh-Hant-TW'
  - var pageTitle       = 'SRDA'
  - var pageDescription = 'Description'
  - var bodyClass       = 'sidebar-mini fixed'

doctype html

+html()

html(lang=lang class="no-js")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{ pageTitle }
    meta(name="description", content=pageDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/x-icon", href="assets/img/favicons/favicon.png")
    link(rel="stylesheet", href="assets/css/style.css")

  body(class=bodyClass)
    block contentMain

    script(src='assets/js/lib/jquery.min.js')
    script(src='assets/js/script.js')
    script(src='assets/js/lib/bootstrap.min.js')
