// Componant: Search Subject 主題搜索
#select2
  position: relative
  .input-group
    height: 30px
    overflow: hidden

.search-bar
  .input-group-addon
    background-color: transparent
  .form-group
    margin-bottom: 0
  & + .form-group
    margin-bottom: 0
    // padding: 0
    // line-height: 30px
    // height: 30px
  // @extend .form-inline
.select2-component
  .subject
    display: none
    width: 700px
    background: #fff
    border: 1px solid $color-gray-light
    border-radius: 4px
    position: absolute
    top: 32px
    left: 15px
    background: $color-gray-lightest
    .checkbox,
    .checkbox + .checkbox
      margin-top: 5px
      margin-bottom: 5px
  .has-feedback
    position: relative
  .addon
    position: absolute
    right: 15px
    top: 7px
    z-index: 3
    &:hover
      cursor: pointer
  .card-title
    border-bottom: 1px solid $color-gray-light
    padding: 10px
    @include clearfix
  .card-body
    padding: 15px
    height: 350px
    overflow-y: scroll
    overflow-x: hidden
    background-color: rgba(white,.75)
  .form-control-feedback
    margin-top: 4px

.subject-footer
  border-top: 1px solid $color-gray-light
  padding: 10px 25px
  .check-all,
  .remove-all
    padding: 5px 25px
    // margin: 0 10px
  .check-all
    & + .remove-all
      border-left: 1px solid $color-gray

#selected
  padding: 5px
  cursor: pointer
.selected-list
  width: 200px
  // reset bootstrap
  left: auto
  right: 0


// .select2-results-dept-0
//   float: left
//   width: 20%

// img.flag
//   height: 10px
//   padding-right: 5px
//   width: 15px

// #e2_2
//   display: none

// #s2id_e2_2.select2-container-multi

//   .select2-choices
//     .select2-search-choice
//       padding: 3px 18px 3px 5px
// .select2-search-choice-close
//   left: auto
//   right: 3px

// .select2-results__option
//   float: left
//   width: 32%


.is-dropdown
  // position: absolute
  // top: 50%
  // transform: translateY(-50%)
  span.value
    display: none
.multi-select
  max-height: 20px
  overflow: hidden
  span
    cursor: pointer
    display: inline-block

.select-label
  display: inline-block
  cursor: pointer
  padding-right: 5px
  padding-left: 5px
  background: $color-gray-lightest
  border-radius: 3px
  .icn--cross
    font-size: 12px
    padding-left: 5px
.select-label + .select-label
  margin-left: 10px
