extends layouts/_search

block content
  .page-title
    div
      h1 Welcom

    div
      ul.breadcrumb
        li
          i.icn.icn--home.icn-lg
        li
          a(href='#') 首頁

  .row
    .col-md-12
      a(href='index2.html')
        | SRDA 資料串連平台
        br
        | DATA EXPLORER
      a(href='search.html') 資料查詢
      br
      a(href='search-results.html') 資料查詢結果
      br
      a(href='#') 操作說明
      br
      a(href='#') 相關資源
      br
      a(href='my-data.html') MyData
      br
      a(href='help.html') Help
      br
      a(href='my-data__project.html') My Data Project
      br
      a(href='my-data__project-admin.html') My Data Project Admin
