extends templates/layout


//- Variables
block append vars
  - var lang            = 'zh-Hant-TW'
  - var pageTitle       = 'SRDA | 首頁'
  - var pageDescription = 'Description'
  - var bodyClass       = 'sidebar-mini fixed'


block contentMain
  //- Navbar
  include templates/views/sections/_header
  //- Side-Nav
  include templates/views/sections/_sidebar-by_filter

  main.wrapper

    .content-wrapper

      .page-title
        div
          h1 Welcom

        div
          ul.breadcrumb
            li
              i.icn.icn--home.fa-lg
            li
              a(href='#') 首頁


      .col-md-12
        .row
          .card
            p 學術調查研究資料庫(Survey Research Data Archive)成立以來，持續積極爭取收錄大型調查資料，包括「台灣社會變遷基本調查」、「台灣教育長期追蹤資料庫」、「台灣選舉調查資料」、「台灣世界價值觀調查」等，這些調查資料在研究設計上具有樣本代表性，並顧及多面向研究議題，搜集資料過程經過嚴格品質控管，再利用價值高，考量資料加值及推廣應用的效益，SRDA於2015年開始建置以大型調查資料為主的「資料串連平台」，優先整理「台灣社會變遷基本調查」，此為台灣地區進行最久、非常重要的重複橫斷面調查。建置平台目的乃希望能提高資料使用便利性與使用價值。

      .col-md-12
        p 以下內容為開發使用
        a(href='index.html')
          | SRDA 資料串連平台
          br
          | DATA EXPLORER
        br
        a(href='search.html') 資料查詢
        br
        a(href='search-results.html') 搜尋結果
        br
        a(href='javascript:;') 操作說明
        br
        a(href='javascript:;') 相關資源
        br
        a(href='my-data.html') MyData
        br
        a(href='help.html') Help
        br
        a(href='my-data__project.html') My Data > 專案列表
        br
        a(href='my-data__project-admin.html') My Data > 專案管理
