extends layouts/_default

block content
  .page-title
    div
      h1
        i.icn.icn--dashboard
        |  Dashboard

    div
      ul.breadcrumb
        li
          i.icn.icn--home.fa-lg
        li
          a(href='#') Dashboard

  .row
    .col-md-3
    .col-md-5
    .col-md-4
