extends templates/layout


//- Variables
block append vars
  - var lang            = 'zh-Hant-TW'
  - var pageTitle       = 'SRDA | 搜尋'
  - var pageDescription = 'Description'
  - var bodyClass       = 'sidebar-mini fixed'


block contentMain
  //- Navbar
  include templates/views/sections/_header
  //- Side-Nav
  include templates/views/sections/_sidebar-by_filter

  main.wrapper
    .content-wrapper
      .page-title.search-bar-wrapper
        // 搜尋分類
        include templates/views/sections/_search-bar
      .row
        a(href='search-results.html') 開發用：前往搜尋結果
block specific-js
  include templates/views/sections/_search-js
  include templates/views/sections/_sidecar__slider-range-js
