// ==========================================================================
// Fonts
// ==========================================================================
$icon-font-family: 'custom-glyphs';
$icn-font-size: 1em;
$icn-line-height: 1;
$icn-fixed-width-size: (18em / 14);

@font-face {
  font-family: 'custom-glyphs';
  src: url('../fonts/custom-glyphs/custom-glyphs.eot');
  src: url('../fonts/custom-glyphs/custom-glyphs.eot?#iefix') format('eot'),
    url('../fonts/custom-glyphs/custom-glyphs.woff2') format('woff2'),
    url('../fonts/custom-glyphs/custom-glyphs.woff') format('woff'),
    url('../fonts/custom-glyphs/custom-glyphs.ttf') format('truetype'),
    url('../fonts/custom-glyphs/custom-glyphs.svg#custom-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}



// Extend
%iconfont { font-family: if(variable-exists(icon-font-family), $icon-font-family, 'custom-glyphs'); }
