.is-dropdown
  .input-group
    .input-group-addon
      span(class='icn icn--search')
    .input.form-control
      span.hida Select
      .multi-select
    span(class='icn icn--circle-add addon is-dropdown-trigger', id='is-dropdown-trigger')

  .subject
    .card-title
      input(type='text', class='col-md-12 form-control', placeholder='輸入主題文字')
    .card-body.multi-check
      .row
        -for (var i = 1; i < 99; i++)
          .col-md-4.checkbox
            label.mr-10
              input(type='checkbox' id='' value=i)
              | #{i}
    .subject-footer
      .row
        .pull-right
          a(href='javascript:;', class='check-all' id='srda-search-select-all')
            i.icn.icn--circle-check
            | 選擇全部
          a(href='javascript:;', class='remove-all' id='srda-search-select-inverse')
            i.icn.icn--circle-cross
            | 清除全部
