script(type="text/javascript").
  $("#is-dropdown-trigger").on('click', function() {
    $(".is-dropdown .subject").slideToggle('fast');
  });
  //- $(".is-dropdown .subject a").on('click', function() {
  //-   $(".is-dropdown .subject").hide();
  //- });

  function getSelectedValue(id) {
    return $("#" + id).find(".input-group a span.value").html();
  }

  $(document).bind('click', function(e) {
    var $clicked = $(e.target);
    if (!$clicked.parents().hasClass("is-dropdown")) {
      $(".is-dropdown .subject").hide();
    }
  });

  $('.mutliSelect input[type="checkbox"]').on('click', function() {

    var title = $(this).closest('.mutliSelect').find('input[type="checkbox"]').val(),
      title = $(this).val();

    var html = '<div class="select-label"><span title="' + title + '">' + title + '</span><span class="icn icn--cross"></span></div>';
    if ($(this).is(':checked')) {
      $('.multiSel').append(html);
      $(".hida").hide();
    } else {
      $('span[title="' + title + '"]').remove();
      var ret = $(".hida");
      $('.is-dropdown .input-group .form-control').append(ret);
      $(".hida").show();
    }
  });

  $('.check-all').on('click',function(){
    var checked = false;
    if(checked == false) {
      $('.multi-select :checkbox').prop('checked', true);
      checked = true;
    }
  });

  $('.remove-all').on('click',function(){
    var checked = true;
    if(checked == true) {
      $('.mutliSelect :checkbox').prop('checked', false);
      checked = false;
    }
  });

