script(type="text/javascript").
  var hidePlaceHolder = function () {
    if (!$('.select-label').length) {
      $('.hida').show();
    } else {
      $('.hida').hide();
    }
  }

  $("#is-dropdown-trigger").on('click', function() {
    $(".is-dropdown .subject").slideToggle('fast');
  });
  //- $(".is-dropdown .subject a").on('click', function() {
  //-   $(".is-dropdown .subject").hide();
  //- });

  function getSelectedValue(id) {
    return $("#" + id).find(".input-group a span.value").html();
  }

  $(document).bind('click', function(e) {
    var $clicked = $(e.target);
    if (!$clicked.parents().hasClass("is-dropdown") && !$clicked.parents().hasClass("select-label")) {
      $(".is-dropdown .subject").hide();
    }
  });

  $('.multi-check input[type="checkbox"]').on('click', function() {

    var title = $(this).val();

    var html = '<div class="select-label"><span title="' + title + '">' + title + '</span><span class="icn icn--cross"></span></div>';

    if ($(this).is(':checked')) {
      $('.multi-select').append(html);
    } else {
      var selectLabel = $('span[title="' + title + '"]').parent().remove();
    }

    hidePlaceHolder()

    $('.select-label').on('click', function() {
      var title = $(this).find('span').eq(0).attr('title')
      $('.multi-check input[type="checkbox"][value="'+ title +'"]').removeAttr('checked')

      $(this).remove()
      hidePlaceHolder()
    })
  });

  $('#srda-search-select-all').on('click', function() {
    $('.hida').hide();
    var checked = false;
    //- title = $(this).closest('.multi-check').find('input[type="checkbox"]').val(),
    var el = $('.card-body.multi-check input[type="checkbox"]')
    el.each(function (idx) {
      var text = el.eq(idx).val();
      var html = '<div class="select-label"><span title="' + text + '">' + text + '</span><span class="icn icn--cross"></span></div>';
      $('.multi-select').append(html);
    })
    if(checked === false) {
      $('.multi-check :checkbox').prop('checked', true);
      checked = true;
    }

    $('.select-label').on('click', function() {
      var title = $(this).find('span').eq(0).attr('title')
      $('.multi-check input[type="checkbox"][value="'+ title +'"]').removeAttr('checked')

      $(this).remove()
      hidePlaceHolder()
    })
  });

  $('#srda-search-select-inverse').on('click', function() {
    $('.hida').show();
    $('.multi-select').text('');
    var checked = true;
    if(checked === true) {
      $('.multi-check :checkbox').prop('checked', false);
      checked = false;
    }
  });


