//- Search Subject 主題搜索

.col-md-9
  //- .row
  //-   .search-linebar
  //-     .form-group.col-md-2
  //-       label.control-label 主題搜尋
  //-     form.form-inline.col-sm-10
  //-       .form-group
  //-         label.sr-only serach
  //-         .input-group
  //-           .input-group-addon
  //-             i.icn.icn--search
  //-           input.form-control(type='text')
  //-           .input-group-addon
  //-             i.icn.icn--circle-add
  //-       button.btn.btn-primary(type='submit') 查詢

  form.select2-component
    .search-bar
      .form-group.col-md-2
        label.control-label 主題搜尋

      .form-group.col-sm-8.has-feedback#select2
        include _search-select-to

    .form-group.col-md-2
      .row
        button.btn.btn-primary.icon-btn(type='button') 查詢
.col-md-3
  .form-inline.pull-right
    .form-group
      .dropdown
        span#selected(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          i.icn.icn-lg.icn--shopping-cart
          | #
        .dropdown-menu(aria-labelledby='selected', class='selected-list')
          - var list = 1
          table.table
            thead
              th
                | 已選變項
                span (#{list})
              th.text-right
                a(href='javascript:;')
                  i.icn.icn--cross
                  | 清除全部
            tbody

              -for (var list = 1; list < 4; list++)
                tr
                  td
                    a(href='javascript:;') option #{list}
                  td.text-center
                    a(href='javascript:;')
                      i.icn.icn--cross

    .form-group
      span 已選變項
