aside.main-sidebar.hidden-print

  section.sidebar

    .search-title
      //- i.icn.icn--search
      //- | &nbsp;關鍵字&nbsp;
      .form-inline
        input(type='text', class='form-control', placeholder='輸入關鍵字')
        include _sidebar__searh-question
        // 關鍵字搜尋說明
    form.form-horizontal(style='padding: 10px')
      .card.cluster
        .card-title 計畫叢集
        .card-body
          .row
            .col-md-12.checkbox
              .checked-all
                label.mr-10
                  input(type="checkbox" id="" value="")
                  | 項目
              ul
                -for (var i = 1; i < 10; i++)
                  li
                    label.mr-10
                      input(type="checkbox" id="" value="")
                      | 複選項目
        .card-footer
          button.btn(type="button" class="btn btn-default") 更多...
      .card#time-range
        .card-title
          label(for="amount") 依「西元」篩選:
          input(type="text", id="amount", readonly)
        .card-body
          #slider-range
          //- include _sidebar__input-range
        .card-footer
          include _sidebar__time-range
      //- .card
      //-   .card-title 類型
      //-   .card-body
      //-     .row
      //-       .col-xs-6.checkbox
      //-         label
      //-           input(type='checkbox' id='inlineCheckbox1' value='option1')
      //-           | 單選
      //-         label
      //-           input(type='checkbox' id='inlineCheckbox1' value='option1')
      //-           | 複選
      //-       .col-xs-6.checkbox
      //-         label
      //-           input(type='checkbox' id='inlineCheckbox1' value='option1')
      //-           | 題組
      //-         label
      //-           input(type='checkbox' id='inlineCheckbox1' value='option1')
      //-           | 文字題

    .pl-10.pr-10
      button(type='button' class='btn btn-default') 清除全部
      button(type='button' class='btn btn-primary') 查詢


